
<!DOCTYPE html>
<html lang="pt-br">
 <%- include('./parciais/nav.ejs') %>
<body>

    <div class="criar-conteudo-blog">
            <form action="">
                <label for="titulo">Titulo do Blog</label>
                <input type="text" id="titulo" required>
                <label for="texto-curto">Texto curto do Blog</label>
                 <input type="text" id="titulo" required>
                 <label for="conteudo">Conteúdo do Blog:</label>
                 <textarea  id="conteudo" required></textarea>
                 <button>Enviar</button>
            </form>
        </div>
        <%- include('./parciais/footer.ejs') %>
</body>
</html>