<!DOCTYPE html>
<html lang="pt-br">
 <%- include('./parciais/nav.ejs') %>
<body>
   
    <div class="conteudo-blog">
        <h2>Tela Sobre a Empresa</h2>
    </div>
    <%- include('./parciais/footer.ejs') %>
</body>
</html>